@import url('./fonts.css');
@import url('./global.css');

body{
    background:#fff;
}

/*=============*/

/*======HEADER START=======*/
header{
    position: relative;
    .main-nav{
        height: 70px;
        width: 100%;
        background: var(--higher-color);
        nav{
            a{
                align-items: center;
                align-content: center;
                justify-content: center;
                float: left;
                width: 20%;
                img{
                    height: 60px;
                    width: 120px;
                    margin:0 100px;
                    padding:10px 0;
                    margin-top:5px;
                }
            }
            #check{
                display: none;
            }
            .checkbtn{
                float: right;
                margin:20px 0;
                margin-right: 50px;
                color:var(--primary-color);
                width: 35px;
                outline: none;
                font-size: 27px;
                border:#fff;
                border-radius: 3px;
                display: none;
                margin-top:8px;
            }
            ul{
                float: right;
                width: 80%;
                margin-right: 2rem !important;
                list-style: none;
                margin-top:-2.8rem;

                li{
                    display: inline-block;
                    line-height: 80px;
                    text-transform: uppercase;
                    font-family: var(--roboto);
                    a{
                        color:#fff;
                        padding:26px 8px;
                        text-decoration: none;
                        transition: 0.3s;
                    }
                    
                    a:hover{
                        background:var(--secondery-color);
                    }
                }
            }

           .pc-search{
               width: 80%;
               float: right;
               position: relative;
                .main-search{
                    float: left;
                    width: 80%;
                    margin-top: -3px;
                    .search2-place{
                        width: 90%;
                        height: 40px;
                        outline: none;
                        border:1px solid var(--primary-color);
                        border-right: none!important;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
    
                    }
                    .search2-logo{
                        width: 50px;
                        height: 40px;
                        color:#fff;
                        margin-left: -5px;
                        background: var(--primary-color);
                        border: 1px solid var(--primary-color);
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        outline: none;
                        display: inline-block;
                        transition: 0.3s;
                        position: absolute;
                        font-size: 20px;
                    }
    
                    .search2-logo:hover{
                        background: #fff;
                        color:var(--primary-color);
                    }
                }
                
                .div-log-in{
                    float: right;
                    margin-left: -1rem;
                    .log-in{
                        margin-top: -2px;
                        height: 40px !important;
                        float: right !important;
                        width: 80px;
                        outline: none;
                        background: var(--secondery-color);
                        border:1px solid var(--secondery-color);
                        color:#fff;
                        border-radius: 3px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    .log-in:hover{
                        background:#fff ;
                        color:var(--secondery-color);
                    }
                }
           }
            .search{
                //margin-top: 2rem;
                display:none;
                .search-bar{
                    width: 70%;
                    height: 35px;
                    outline: none;
                    border: 1px solid var(--primary-color);
                    margin-left: 5%;
                }
                .btn-search{
                    width: 20%;
                    height: 35px;
                    margin-right: 5%;
                    outline: none;
                    border: 1px solid var(--primary-color);
                    background: var(--primary-color);
                    color:#fff;
                }
            }
        }
    }
}




@media (max-width:900px){
    header{
        .main-nav{
            nav{
                a{
                    img{
                        margin:0 30px;
                    }
                }

            }
        }
    }
}

@media (max-width:768px){
    header{
        .main-nav{
            height: 60px;
            nav{
                a{
                    img{
                        margin:0 50px;
                    }
                }
                .checkbtn{
                    display: block;
                }
                #check:checked ~ ul{
                    left:0;
                }
                ul{
                    z-index: 999999;
                    position: fixed;
                    width: 100%;
                    height: 100vh;
                    background:var(--higher-color);
                    padding-left: 10%;
                    padding-top:2rem;
                    transition: all 0.5s;
                    left: -100%;
                    margin-top: 60px;
                    li{
                        display: block;
                        line-height: 60px;
                        a{
                            padding:10px 15px;
                        }
                        
                        a:hover{
                            background:none;
                            color:var(--primary-color);
                        }
                    }
                }

                .pc-search{
                    .main-search{
                        display: none;
                        .dev-log-in{
                            height: 10rem;
                            .log-in{
                                height: 10rem;
                                margin-top: 4rem !important;
                                float: left !important;
                            }
                        }
                    }
                }
                .search{
                    display: block;
                    margin-left: -8%;
                    padding:0 10px;
                }
            }
        }
    }
    // #check:checked ~ .slider{
    //     opacity: 0;
    // }
}


@media (max-width:1050px){
    header{
        .main-nav{
            nav{
                a{
                    img{
                        margin:0 30px;
                    }
                }

                .pc-search{
                    .main-search{
                        width: 65%;
                        .dev-log-in{
                            float: left;
                        }
                    }
                }
            }
        }
    }
}

/*======HEADER END=======*/ 
 
            /*======Log-IN-page-start=======*/
            main{
                section{
                    .log-in-page{
                        position: relative;
                        height: 100vh;
                        width: 100%;
                        background-image: linear-gradient(rgba(0,0,0,0.9),rgba(255,255,255,0.2)),url('../img/ifal-tower.webp');
                        //background-attachment: fixed;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        .log-in{
                            width: 25rem;
                            height: 22rem;
                            position: absolute;
                            margin:7% auto;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            align-content: center;
                            left:37%;
                            border: 1px solid var(--primary-color);
                            .user{
                                width: 7rem;
                                height: 7rem;
                                border-radius: 50%;
                                background: var(--primary-color);
                                margin:0 auto;
                                margin-top:-3rem;
                                i{
                                    color:#fff;
                                    text-align: center;
                                    margin:0 auto;
                                    justify-content: center;
                                    align-content: center;
                                    align-items: center;
                                    margin-top:2.3rem !important;
                                    font-size: 34px;
                                }
                            }
                            span{
                                color:var(--primary-color);
                                font-size: 32px;
                                font-family: var(--roboto);
                                font-weight: 700;
                                padding:0rem 2rem;
                                text-align: center;
                                
                            }
                            .log{
                                margin-top: 0.5rem;
                            }
                            
                            .inner-log-in{
                                margin-top: 1.5rem;;
                                .input{
                                    display: block;
                                    width: 20rem;
                                    height: 3rem;
                                    margin:0 auto;
                                    margin-bottom: 0.5rem;
                                    outline: none !important;
                                    border: 2px solid var(--primary-color);
                                    border-radius: 2rem;
                                }
                                input{
                                    padding-left: 1rem;
                                }
                                .input:focus{
                                    width: 21rem;
                                }
                                button{
                                    outline: none;
                                    width: 20rem;
                                    height: 3rem;
                                    border:var(--primary-color);
                                    border-radius:2rem ;
                                    background: var(--primary-color);
                                    color: #fff;
                                    transition: 0.4s;
                                    font-family: var(--roboto);
                                    font-weight: 700;
                                    font-size: 20px;
                                    transition: 0.3s;
                                }
                                button:hover{
                                    background: #fff;
                                    color:var(--primary-color);
                                    width: 21rem;
                                }
                            }
                        }

                    }
                }
            }



            @media (max-width:768px){
                main{
                    section{
                        .log-in-page{
                            .log-in{
                                width: 23rem;
                                height: 23rem;
                                margin:12% auto;
                                left:25%;
                                .user{
                                    width: 7rem;
                                    height: 7rem;
                                    border-radius: 50%;
                                    margin-top:-3rem;
                                    i{
                                        margin-top:2.3rem !important;
                                        font-size: 34px;
                                    }
                                }
                                span{
                                    color:var(--primary-color);
                                    font-size: 32px;
                                    padding:0rem 2rem;
                                    
                                }
                                .log{
                                    margin-top: 0.5rem;
                                }
                                
                                .inner-log-in{
                                    margin-top: 1.5rem;;
                                    .input{
                                        width: 15rem;
                                        height: 2rem;
                                    }
                                    .input:focus{
                                        width: 16rem;
                                    }
                                    button{
                                        width: 15rem;
                                        height: 2rem;
                                    }
                                    button:hover{
                                        width: 16rem;
                                    }
                                }
                            }
    
                        }
                    }
                }
            }



            @media (max-width:575px){
                main{
                    section{
                        .log-in-page{
                            .log-in{
                                width: 20rem;
                                height: 19rem;
                                margin:25% auto;
                                left:8%;
                                
                                .inner-log-in{
                                    .input{
                                        width: 15rem;
                                        height: 2rem;
                                    }
                                    .input:focus{
                                        width: 16rem;
                                    }
                                    button{
                                        width: 15rem;
                                        height: 2rem;
                                    }
                                    button:hover{
                                        width: 16rem;
                                    }
                                }
                            }
    
                        }
                    }
                }
            }



            @media (max-width:360px){
                main{
                    section{
                        .log-in-page{
                            .log-in{
                                width: 14rem;
                                height: 19rem;
                                margin:25% auto;
                                left:15%;
                                
                                .inner-log-in{
                                    .input{
                                        width: 11rem;
                                        height: 2rem;
                                    }
                                    .input:focus{
                                        width: 12rem;
                                    }
                                    button{
                                        width: 11rem;
                                        height: 2rem;
                                    }
                                    button:hover{
                                        width: 12rem;
                                    }
                                }
                            }
    
                        }
                    }
                }
            }
            /*======Log-IN-page-end=======*/


/*======MAIN START=======*/

        /*=====SLIDER START========*/
main{
    position: relative;
    .header-part{
        width: 90%;
        margin:0 auto;
        .slider{
            width: 80%;
            height: 25%;
            margin:0 auto;
            margin-top:10px;
            //margin-bottom: 1rem;
            .carousel{
                .carousel-inner{
                    img{
                        height: 20rem;
                        filter: brightness(0.7);
                    }
                }
                
            }
            
        }

        .filter{
           // margin:0 auto;
            text-align: center;
            margin:0 3rem;
            margin-top:1.2rem;
            //padding:2rem 0;
            position: absolute;
            text-align: center;
            justify-content: center;
            align-items: center;
            align-self: center;
            align-content: center;
            
            a{
                text-decoration: none;
            }
            
            
            .fil-btn{
                padding:8px 25px;
                outline: none;
                border:2px solid var(--primary-color);
                border-radius: 25px;
                background: var(--primary-color);
                text-transform: uppercase;
                color:#fff;
                font-weight: 600;
                transition: 0.3s;
                margin:1rem 0.5rem !important;
                letter-spacing: 2px;
                font-family: var(--roboto);
            }
            .fil-btn:hover{
                background: #fff;
                color:var(--primary-color);
            }
        }
        
    }


}

@media (max-width:768px){
    main{
        .header-part{
            width: 90% !important;
            .slider{
                width: 30rem;
                height:15rem;
                margin:0 auto;
                
            }

            .filter{
                margin-top:6.5rem !important;
                .fil-btn{
                    margin:0.6rem 0.5rem !important;
                    letter-spacing: 1.5px;
                    //padding:8px 21px;
                }
            }
        }
    
    }
}


@media (max-width:575px){
    main{
        .header-part{
            width: 100% !important;
            .slider{
                width: 22rem;
                height:7rem;
                margin-left:0 !important;
                margin-right: 0 !important;
                margin:0 auto !important;
                
            }

            .filter{
                margin-top:15rem !important;
                .fil-btn{
                    margin:0.3rem 0.5rem !important;
                    letter-spacing: 0px;
                    padding:8px 18px;
                }
            }
        }
    
    }
}

@media (max-width:360px){
    main{
        .header-part{
            width: 100% !important;
            .slider{
                width: 18rem;
                height:4rem !important;
                margin-left:0 !important;
                margin-right: 0 !important;
                margin:0 auto !important;
                
            }

            .filter{
                margin-top:17.3rem !important;
                .fil-btn{
                    padding:6px 10px;
                    margin:0.3rem 0.3rem !important;
                }
            }
        }
    
    }
}
        /*======SLIDER END=======*/




/*=======BLOG SECTION START======*/
main{
    .blog-section{
        margin-top:10.8rem;
        position: relative;
        .main-post{
            transform: 0 !important;
            margin-bottom:3rem;
            .post{
                filter: brightness(0.8);
                a{
                    img{
                        width: 100%;
                        height: 22rem;
                        
                    }
                }
            }
            .post-des{
                margin:0 1rem;
                margin-top:-18rem;
                filter: brightness(1.3);
                overflow: hidden;
                color:#fff;
                position: absolute;
                a{
                    text-decoration: none;
                    span{
                        background: var(--primary-color);
                        color:#fff;
                        padding:3px 8px;
                        font-family: var(--roboto);
                        font-weight: 600;
                    }
                    h6{
                        transition: 0.3s;
                        color:var(--primary-color);
                        margin-top: 10rem !important;
                    }
                    h3{
                        color:#fff;
                        font-weight: 600;
                    }
                    p{
                        color:#fff;
                        display: none !important;
                        font-weight: 700;
                    }
                }
            }
        }

        .main-post:hover{
            .post-des{
                
                h6{
                    margin-top: 5.5rem !important;
                }
                p{
                    display:block !important;
                    overflow: hidden;
                }
            }
        }
    }

}

@media (max-width:768px){
    main{
        .blog-section{
            margin-top:19rem;
            .main-post{
                margin-bottom: 4rem;
                h3{
                    font-size: 25px;
                }
            }
        }
    }
}



@media (max-width:575px){
    main{
        .blog-section{
            margin-top:32.4rem;
            .main-post{
                margin-bottom: 1rem;
                h3{
                    font-size: 22px;
                }
            
            }
        }
    }
}

@media (max-width:375px){
    main{
        .blog-section{
            margin-top:33.5rem;
            .main-post{
                margin-bottom: 1rem;
            }
        }
    }
}
/*======BLOG SECTION END=======*/

/*======MAIN END=======*/




/*======BLOG DETAILS PAGE START=======*/
main{
    section{
        .post-details{
            .post-imgs{
                width: 95% !important;
                justify-content: center;
                margin:0 auto;
                align-items: center;
                align-content: center;
                filter: brightness(0.7);
                img{
                    width: 100%;
                    justify-content: center;
                    margin:0 auto;
                    align-items: center;
                    align-content: center;
                    //filter: brightness(0);
                }
            }
            .post-word{
                width: 100%;
                margin:0 auto;
                margin-top:-8.2rem;
                color:#fff;
                text-align: center;
                font-family: var(--roboto);
                filter: brightness(1.5);
                .subject{
                    background: var(--primary-color);
                    padding:4px 12px;
                    color:#fff;
                    font-weight: 600;
                    margin-bottom:8px;
                }
                a{
                    text-decoration: none;
                    img{
                        width: 3rem;
                        height: 3rem;
                        display: inline-block;
                        border-radius: 50%;
                    }
                    p{
                        display: inline-block;
                        color:#fff;
                        padding-left: 10px;
                    }
                }
                p{
                    display: inline-block;
                    color:#fff;
                    padding-left: 10px;
                    span{
                        padding-right: 5px;
                    }
                }
            }
        }
    }


    /*======blog descripton START=======*/
    section{
        .blog-description{
            background: #f2feff;
            width: 65%;
            justify-content: center;
            align-content: center;
            margin:0 auto;
            padding:1rem;
            margin-top:-1rem;
            margin-bottom: 2rem;
            h4{
                font-family: var(--roboto);
                font-size: 28px;
                font-weight: 600;
                padding-bottom: 1rem;
                padding-top:2rem;
            }
            img{
                width: 35rem;
                height: 22rem;
                padding:1rem;
                margin:0 auto;
                text-align: center;
                justify-content: center;
                align-content: center;
            }
            .img-right{
                float: right !important;
            }
            .img-left{
                float: left !important;
            }
            .end{
                //float: right;
                margin-right: auto;
            }
            P{
                font-family: var(--roboto);
                font-size: 22px;
            }
            h5{
                font-size: 25px;
                font-family: var(--roboto);
                font-weight: 600;
                padding:1rem 0;
            }
        }
    }
     /*======blog descripton end=======*/


     /*======comment section start=======*/
     section{
         .container{
             .comment{
                background: #f2feff;
                 width: 70%;
                 border:1px solid #ddd;
                 margin:0 auto;
                 margin-bottom: 2rem;
                 .comment-top{
                    background:#54558d;
                    font-family: var(--roboto);
                    color:#fff;
                    padding:8px 15px;
                    margin-bottom: 1rem;
                    h3{
                        font-weight: 600;
                    }
                    p{
                        margin-left: 0px;
                        padding:0;
                        font-weight: none !important;
                    }
                 }
                 p{
                     font-family: var(--roboto);
                     //font-weight: 600;
                     //margin:15px 0px;
                     margin-left:20px;
                     span{
                         padding:10px 0px;
                         padding-bottom: 0px;
                         font-weight: 600;
                         color:#4F508B;
                         text-transform: uppercase;
                     }
                 }
                 .comment-inner{
                     margin-top:-1rem;
                     width: 100%;
                     height: 7.6rem;
                     border-bottom:1px solid #ddd;
                     .comment-submit{
                         float: right;
                         width: 100%;
                         margin-top:8px;
                         //height: 12rem;
                         padding:0 10px;
                         textarea{
                             width: 100%;
                             height: 8rem;
                             outline: none;
                             margin-right: 10px;
                             border: 1px solid #696bdb;
                         }
                         .address{
                             width: 45%;
                             display: inline-block;
                             margin-top: 12px;
                             margin-bottom: 15px;
                             h6{
                                 text-transform: uppercase;
                                 color:#4F508B;
                             }
                             input{
                                border: 1px solid #696bdb;
                                outline: none;
                                padding:3px 8px;
                                width: 80%;
                             }
                         }
                         button{
                            outline: none;
                            border: 1px solid #696bdb;
                            background: #4F508B;
                            color:#fff;
                            padding:5px 25px;
                            border-radius: 3px;
                            margin-top:-3rem;
                            margin-right: 1rem;
                            float:right;
                            transition: 0.3s;
                         }
                         button:hover{
                             background: #fff;
                             color:#222;
                         }

                     }
                 }
                 .share{
                    p{
                        color:#4F508B;
                        font-weight: 600;
                    }
                     .share-icon{
                        margin-bottom: 5px;
                         margin-left: 1rem;
                        
                         a{
                             padding:0 8px;
                             font-size: 24px;
                             margin-bottom: 5px;
                             color:#4F508B;
                         }
                         a:hover{
                            color:#a1a1a8;
                        }
                     }
                 }
             }
         }
     }



     @media (max-width:768px){
        section{
            .container{
                .comment{
                    .comment-inner{
                        .comment-submit{
                            .address{
                                width: 42%;
                            }
                            button{
                               padding:5px 15px;
                               margin-right: 10px;
                            }
   
                        }
                    }
                    
                }
            }
        }
     }
     /*======comment section end=======*/
}


@media (max-width:768px){
    main{
        section{
            .post-details{
                .post-word{
                    margin-top: -6.5rem;
                    h1{
                        font-size: 24px;
                        padding-top:7px;
                    }
                    a{
                        text-decoration: none;
                        img{
                            width: 2rem;
                            height: 2rem;
                            
                        }
                    }
                }
            }
        }



        section{
            .blog-description{
                img{
                    width: 23rem;
                    height: 18rem;
                }
            }
        }
    }

}


@media (max-width:575px){
    main{
        section{
            .post-details{
                .post-imgs{
                    width: 100% !important;
                }
                .post-word{
                    margin-top: -7.2rem;
                    h1{
                        font-size: 18px;
                        padding-top:7px;
                    }
                    a{
                        img{
                            width: 1.2rem;
                            height: 1.2rem;
                            
                        }
                        p{
                            padding-left: 5px;
                        }
                    }
                    p{
                        padding-left: 5px;
                        margin-bottom:0 !important;
                        span{
                            padding-right: 3px;
                        }
                    }
                }
            }
        }


        section{
            .blog-description{
                width: 95%;
                h4{
                    font-size: 24px;
                    padding-bottom: 0.7rem;
                }
                img{
                    width: 19rem;
                    height: 12rem;
                }
                P{
                    font-size: 20px;
                }
                h5{
                    font-size: 21px;
                }
            }
        }


        /**comment section***/ 

        section{
            .container{
                .comment{
                    width: 100%; 
                }
            }
        }
    }
}


@media (max-width:375px){
    main{
        section{
            .post-details{
                .post-imgs{
                    width: 100% !important;
                }
                .post-word{
                    margin-top: -7.5rem;
                    h1{
                        font-size: 16px;
                        padding-top:7px;
                    }
                    a{
                        img{
                            width: 1.2rem;
                            height: 1.2rem;
                            
                        }
                        p{
                            padding-left: 5px;
                        }
                    }
                    p{
                        padding-left: 5px;
                        margin-bottom:0 !important;
                        span{
                            padding-right: 3px;
                        }
                    }
                }
            }
        }


        section{
            .blog-description{
                width: 95%;
                h4{
                    font-size: 24px;
                    padding-bottom: 0.7rem;
                }
                img{
                    width: 17rem;
                    height: 12rem;
                }
                P{
                    font-size: 20px;
                }
                h5{
                    font-size: 21px;
                }
            }
        }
    }
}




/*======related post start=======*/
main{
    section{
        .related-post-section{
            border-top:2px solid #718d9b;
            margin-bottom: 1rem;
            h3{
                margin-top: 1rem;
                margin-bottom: 1rem;
                color:#4F508B;
                font-family: var(--roboto);
                margin-left: 1rem;
            }
            .related-post{
                a{
                    text-decoration: none;
                    img{
                        width: 100%;
                    }
                    p{
                        color:rgb(136, 125, 125);
                    }
                }
                
            }
            .related-post:hover{
                filter: brightness(0.7);
            }
        }
    }
}
/*======related post end=======*/
/*======BLOG DETAILS PAGE END=======*/





        /*=====AUTHORS PAGE START========*/
        
            section{
                //width: 70%;
                .authors-section{
                    width: 70%;
                    background: #f2feff;
                    margin:0 auto;
                    h2{
                        font-family: var(--roboto);
                        font-weight: 700;
                        font-size: 45px;
                        text-align: center;
                        padding:1rem 1rem;
                        text-transform: uppercase;
                        //margin:0 auto;
                    }
                    .author{
                        width: 100% !important;
                        margin-bottom: 5rem;
                        margin:0 auto;
                        margin-bottom:4rem;
                        .author-img{
                            //width: 15%;
                            float: left;
                            //margin-right: 5%;
                            img{
                                width: 100%;
                                float: left;
                                border-radius: 5px;
                                
                            }
                        }
                        .author-des{
                            //width: 80%;
                            a{
                                text-decoration: none;
                                h3{
                                    font-family: var(--roboto);
        
                                }
                            }
                            P{
                                font-family: var(--roboto);
                            }
                            .profile{
                                a{
                                    font-size: 20px;
                                    padding: 0 5px;
                                }
                            }
                        }
                    }

                    /*******author all post start******/ 
                    .author-post{
                        margin-top:-4rem;
                        padding-bottom: 6rem;
                        .author-post-img{
                            img{
                                width: 95%;
                                margin-top:2.5rem;
                                padding-left: 1rem;
                            }
                        }

                        .author-post-des{
                            a{
                                text-decoration: none;
                                display: inline-block;
                                margin-right: 10px;
                                span{
                                    padding-right: 5px;
                                    display: inline-block;
                                    color:var(--third-color);
                                }
                                p{
                                    display: inline-block;
                                    
                                }
                            }
                            p{
                                display: inline;
                                margin-top:1rem;
                                span{
                                    margin-right: 10px;
                                    color:var(--third-color);
                                }
                            }

                        }

                        a{
                            text-decoration: none;
                            h3{
                                font-family: var(--roboto);
                                font-weight: 600;
                                color:var(--third-color);
                                letter-spacing: 2px;
                            }
                            p{
                                color:#222;
                            }
                        }
                        button{
                            outline: none;
                            border:1px solid var(--third-color);
                            padding:8px 15px;
                            border-radius: 5px;
                            background: var(--third-color);
                            color:#fff;
                            font-family: var(--roboto);
                            font-weight: 600;
                            display: inline-block;
                            float: left;
                            transition: 0.3s;
                        }
                        button:hover{
                            background: #fff;
                            color:var(--third-color);
                        }

                        .love{
                            margin-right: 2rem;
                            i{
                                color:red;
                                padding-right: 5px;
                                font-size: 18px;
                            }
                        }
                    }
                    /*******author all post end******/ 
                }
            }
        


            @media (max-width:575px){
                section{
                    .authors-section{
                        width: 80%;
                        .author{
                            margin-bottom:2rem;
                            .author-img{
                                img{
                                    margin-bottom:2rem;
                                }
                            }
                        }
                    }
                }
            }
        /*======AUTHORS PAGE END=======*/


/*======FOOTER START=======*/
footer{
    background: var(--higher-color);
    color:#fff;
    .main-footer{
        border-bottom:2px solid #fff;
        h5{
            margin-bottom:20px;
        }
        i{
            margin-right: 12px;
        }
        a{
            text-decoration: none;
            color:#fff;
        }
        a:hover{
            color:var(--primary-color);
        }
    
    }
    section{
        p{
            a{
                text-decoration: none !important;
                color:var(--primary-color);
            }
            a:hover{
                color:#fff;
            }
        }
    }
}
/*======FOOTER END=======*/

/*=============*/